<div class="mycontainer">
    <div class="search mt-3 mb-3">
        <form #form="ngForm" (submit)="onSubmit()">
            <input class="p-2" type="text" placeholder="Search city" name="cityName" [(ngModel)]="cityName">
        </form>
    </div>
    <div class="card text-white" style="max-width: 18rem;">
        <div class="card-header text-center">
            <h2>{{city}}</h2>
            <br>
            <h1 class="card-text">{{this.myWeather.current.temp_c}}°C</h1>
        </div>

        <div class="card-body">
            <p class="card-text">Location: {{this.myWeather.location.name}}</p>
            <p class="card-text">region: {{this.myWeather.location.region}}</p>
            <p class="card-text">country: {{this.myWeather.location.country}}</p>
            <p class="card-text">tz_id: {{this.myWeather.location.tz_id}}</p>
            <p class="card-text">Feels like: {{this.myWeather.current.temp_c}} C°</p>
            <p class="card-text">Pressure: {{this.myWeather.current.pressure_in}} hPa</p>
            <p class="card-text">Humidity: {{this.myWeather.current.humidity}}%</p>
            <p class="card-text">timeZone: {{this.myWeather.location.tz_id}}</p>
            <p class="card-text">lat: {{this.myWeather.location.lat}}</p>
            <p class="card-text">lon: {{this.myWeather.location.lon}}</p>


            <!--
            <p class="card-text">Max Temp: {{maxTemp}}</p>
            <p class="card-text">Min Temp: {{minTemp}}</p>
            
            <p class="card-text">Wind Degree: {{windDegre}}º</p>
            <p class="card-text">Wind Speed: {{speedWind}} M/h</p>
            -->
        </div>

    </div>
    <div class="card text-white text-center" style="margin-top: 1em;">
        <h3>{{ hours | date: "shortTime" }}</h3>
        <p>{{ today | date: "fullDate" }}</p>
    </div>
</div>